@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Outfit:wght@400;700&family=Poppins:ital,wght@1,300;1,400;1,500;1,600&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
}

.main-container {
  width: 100vw;
  height: 100vh;
  background: #d4e0f8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub-container {
  background: #ffffff;
  width: 500px;
  height: 30%;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2), 0 6px 15px 0 rgba(0, 0, 0, 0.19);
  padding: 0;
}
h1 {
  font-size: 26px;
}
h3 {
  font-size: 16px;
}
h3:nth-of-type(1) {
  margin-top: 10px;
}
h3:nth-of-type(2) {
  margin-top: 10px;
  margin-bottom: 10px;
}
.user-image {
  width: 180px;
  max-width: 200px;
  overflow: hidden;
}

.img-container {
  background: linear-gradient(to bottom, #25233a, white);
}
.information {
  padding: 15px;
}
.btn-skills {
  font-size: 10px;
  background: #e9e8ed;
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  color: black;
  font-weight: 700;
  margin-top: 5px;
}

.message-btn {
  border: none;
  background: #25233a;
  padding: 10px 15px;
  color: white;
  width: 170px;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}
hr {
  margin-top: 10px;
  color: rgba(211, 211, 211, 0.2);
}
.more-btn {
  border: 1px solid #25233a;
  background: transparent;
  padding: 10px 15px;
  color: black;
  border-radius: 10px;
  font-weight: 700;
  margin-top: 10px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .sub-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    padding: 0;
    height: 430px;
  }

  .main-container {
    padding: 0;
  }

  h1 {
    margin-top: 0;
    font-size: 16px;
  }
  h3 {
    font-size: 10px;
  }
  h3:nth-of-type(2) {
    margin-bottom: 0;
  }
  .btn-skills {
    margin: 0;
    font-size: 9px;
    margin-top: 10px;
  }

  .message-btn {
    /* padding: 5px 10px; */
    height: 35px;
    width: 100%;
  }

  .more-btn {
    /* padding: 5px 10px; */
    width: 100%;
    height: 35px;
  }

  .user-image {
    /* Adjust the size for phone screens */
    margin: 0 20px;
    width: 150px;
  }

  .user-name {
    font-size: 18px; /* Adjust font size for phone screens */
  }
}
